<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Password Reset Instructions from the Grower's Notebook</p>
  <p>To reset your password click the button below.</p>

  <p>
    <a href="<%= @password_reset_url %>" style="color:#fff;text-decoration:none;display:inline-block;padding-top:0;padding-right:20px;padding-bottom:0;padding-left:20px;border:0;font-size:14px;line-height:39px;text-align:center;font-style:normal;border-bottom:1px solid rgba(0,0,0,0.1);vertical-align:bottom;font-family:&quot;freight-sans-pro&quot;,&quot;Myriad Pro&quot;,&quot;Lucida Grande&quot;,&quot;Lucida Sans Unicode&quot;,&quot;Lucida Sans&quot;,Geneva,Verdana,sans-serif;border-radius:3px;background-color:#3eae5f;margin-top:12px;margin-right:5px;margin-bottom:8px" target="_blank">Reset my password</a>
  </p>
  <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-family:&quot;freight-sans-pro&quot;,&quot;Myriad Pro&quot;,&quot;Lucida Grande&quot;,&quot;Lucida Sans Unicode&quot;,&quot;Lucida Sans&quot;,Geneva,HelveticaNeue-Bold,Verdana,sans-serif;font-size:12px;color:#b3b3b1">
    Or use this link:</p>
    <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-family:&quot;freight-sans-pro&quot;,&quot;Myriad Pro&quot;,&quot;Lucida Grande&quot;,&quot;Lucida Sans Unicode&quot;,&quot;Lucida Sans&quot;,Geneva,HelveticaNeue-Bold,Verdana,sans-serif;font-size:12px;color:#b3b3b1"><a href="<%= @password_reset_url %>" style="color:#58ad69;text-decoration:underline" target="_blank"><%= @password_reset_url %><wbr>
  </p>

  <p>
    If you did not request your password to be reset please ignore this email and your password will stay as it is.
  </p>

  <p>
    We love to hear from our user community, so please feel free to
    <a href="mailto:<%= @feedback_mailto %>">drop us a line</a> any time!
  </p>
  <p>
    Cheers,<br />
    <i>brian</i>
  </body>
  </html>
