<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the Farmer's Notebook</h1>
    <p>
    <p><b><%= @user.name %></b>, Thanks for joining the Farmer's Notebook Community!</p>

    <p>
    	We love to hear from our user community, so please feel free to
    	<a href="mailto:<%= @feedback_mailto %>">drop us a line</a> any time!
    <p>
    	Cheers,
    	<i>brian</i>
  </body>
</html>

