<div class="screen-content transparent" >

	<div class="container margin-top-60">
		<div class="col-sx-1 col-sm-1 col-md-1 col-lg-1" ng-click="new_client()" >
			<i class="fa fa-plus-circle clickable-icon"></i>
		</div>
		<div class="col-md-offset-1 col-sx-10 col-md-8">
			<form class="form-inline" role="form">
				<input type="text" class="form-control search-box search-box-small" ng-model="query" placeholder="Search" >
			</select>
		</form>
	</div>
</div>

<div client-edit></div>
<div client-show></div>

<!-- Large Format List -->
<div class="container white-rounded text-center padding-bottom-60 hidden-xs">
	<div class="row heading">
		<div class="col-sm-3">Client</div>
    <div class="col-sm-3">Contact</div>
    <div class="col-sm-2">Phone</div>
    <div class="col-sm-2">Mobile</div>
  </div>
  <div class="scrolling-list scrolling-list-clickable row" ng-repeat="client in clients | filter:query">
    <div class="row"  ng-click="show(client)">
      <div class="col-sm-3 data-cell">{{client.name}}</div>
      <div class="col-sm-3 data-cell">{{client.contact}}</div>
      <div class="col-sm-2 data-cell">{{client.phone}}</div>
      <div class="col-sm-2 data-cell">{{client.cell}}</div>
      <p>
        <div class="col-sm-offset-3 col-sm-3 data-cell">{{client.contact2}}</div>
        <div class="col-sm-2 data-cell">{{client.phone2}}</div>
        <div class="col-sm-2 data-cell">{{client.cell2}}</div>
      </p>
    </div>
  </div>
</div>

<!-- Mobile Format List -->
<div class="container white-rounded visible-xs">
	<ul class="scrolling-list force-two-lines" >
		<li ng-repeat="client in clients | filter:query">
			<div>
				<div class="row">
					<div class="col-xs-4"><span>{{client.name}}</span></div>
				</div>
				<h4>{{client.contact}}</h4>
				<h4>{{client.address}}</h4>
				<h4>{{client.contact}}</h4>
				<h4>{{client.email}}</h4>
        <p>
          <div class="col-sm-offset-3 col-sm-3 data-cell">{{client.contact2}}</div>
          <div class="col-sm-2 data-cell">{{client.phone2}}</div>
          <div class="col-sm-2 data-cell">{{client.cell2}}</div>
        </p>
      </div>
    </li>
  </ul>
</div>