<div class="screen-content transparent margin-top-30" >
  <div client-search></div>

  <!-- Form -->
  <div class="container">
    <div ng-show="show_form" class="floating-container fixed-top-10 col-xs-10 col-md-6 animated fadeIn">
      <span ng-click="close()" ng-show="show_form" ><i class="fa fa-times-circle close pull-right"></i></span>
      <form name="invoicePayForm">
        <h3>Payment</h3>
        <table class="table table-condensed">
          <tr><td class="muted input-label" >Client</td>
            <td>{{payment.client_name}}</td>
          </tr>
          <tr><td class="muted input-label" >Project</td>
            <td>{{payment.project}}</td>
          </tr>
          <tr><td class="muted input-label" >Invoice</td>
            <td>{{payment.invoice_number}}</td>
          </tr>
          <tr><td class="muted input-label" >Date</td>
            <td class="input">
              <input name="paymentDate" type="text" class="form-control text_field date-input" min-date="{{min_date}}" max-date="{{max_date}}" ng-model="payment.date" my-datepicker required>
            </td>
          </tr>
          <tr><td class="muted input-label" >Notes</td>
            <td class="input">
              <textarea class="form-control sans no-distraction" rows="3" name="Notes" ng-model="payment.notes" placeholder="Notes">
              </textarea>
            </td>
          </tr>
          <tr><td class="muted input-label" >Payment</td>
            <td class="input">
              <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input name="paymentAmount" type="number" class="form-control" ng-model="payment.amount" placeholder="Amount" required>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div>
          <button class="btn btn-success" ng-click="save_payment()" ng-disabled="invoicePayForm.$invalid">Save</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Large Format List -->
  <div class="container white-rounded text-center padding-bottom-60">
    <div class="row heading">
      <div class="col-xs-2 ">
        <span>Date</span>
        <span class="pull-right clickable-icon"><i ng-class="{true: 'fa fa-clock-o', false: 'fa fa-calendar'}[dateformat=='timeago']" ng-click="toggle_date()"></i></span>
      </div>
      <div class="col-xs-2">Status</div>
      <div class="col-xs-3">Client : Project</div>
      <div class="col-xs-1">Id</div>
      <div class="col-xs-2">Billed</div>
      <div class="col-xs-2">Paid</div>
    </div>
    <div class="scrolling-list row scrolling-list-clickable" ng-repeat="invoice in filtered_invoices">
      <div class="row">
        <div class="col-xs-2 col-md-2 col-lg-2 data-cell" ng-click="open(invoice._id)">{{invoice.created_at | moment:dateformat}}</div>
        <div class="col-xs-2 data-cell">
          <span ng-show="invoice.status=='Open'">
            <a ng-click="pay(invoice._id)" title="pay...">{{invoice.status}}</a>
          </span>
          <span ng-hide="invoice.status=='Open'">{{invoice.status}}</a>
          </div>
          <div class="col-xs-3 data-cell text-left" ng-click="open(invoice._id)">{{invoice.name}} : {{invoice.project}}</div>
          <div class="col-xs-1 data-cell" ng-click="open(invoice._id)">{{invoice.invoice_number}}</div>
          <div class="col-xs-2 data-cell" ng-click="open(invoice._id)">{{invoice.invoice_total | currency}}</div>
          <div class="col-xs-2 data-cell" ng-click="open(invoice._id)">{{invoice.paid| currency}}</div>
        </div>
      </div>
    </div>
  </div>
</div>