<div class="screen-content transparent margin-top-30" >
  <div client-search></div>

  <div class="text-center">
    <h4>Total Payments: {{paid_amount | currency}}</h4>
  </div>
  <!-- Large Format List -->
  <div class="container white-rounded text-center padding-bottom-60">
    <div class="row heading">
      <div class="col-xs-2 ">
        <span>Date</span>
        <span class="pull-right clickable-icon"><i ng-class="{true: 'fa fa-clock-o', false: 'fa fa-calendar'}[dateformat=='timeago']" ng-click="toggle_date()"></i></span>
      </div>
      <div class="col-xs-3">Client : Project</div>
      <div class="col-xs-2">Invoice</div>
      <div class="col-xs-2">Paid</div>
    </div>
    <div class="scrolling-list row scrolling-list-clickable" ng-repeat="payment in filtered_items">
      <div class="row">
        <div class="col-xs-2 data-cell">{{payment.date | moment:dateformat}}</div>
        <div class="col-xs-3 data-cell text-left">{{payment.client_name}} <span ng-show="!!payment.project">:<br/> {{payment.project}}</span></div>
        <div class="col-xs-2 data-cell">{{payment.invoice_number}}</div>
        <div class="col-xs-2 data-cell">{{payment.amount | currency}}</div>
      </div>
    </div>
  </div>
</div>