<div class="screen-content transparent margin-top-30" >
  <div client-search></div>

  <!-- Large Format List -->
  <div class="container white-rounded text-center padding-bottom-60 hidden-xs">
    <div class="row heading">
      <div class="col-sm-2 ">
        <span>Date</span>
        <span class="pull-right clickable-icon"><i ng-class="{true: 'fa fa-clock-o', false: 'fa fa-calendar'}[dateformat=='timeago']" ng-click="toggle_date()"></i></span>
      </div>
      <div class="col-sm-3">Client : Project</div>
      <div class="col-sm-2">Invoice Id</div>
      <div class="col-sm-2">Paid</div>
      <div class="col-sm-2">Remaining</div>
    </div>
    <div class="scrolling-list row scrolling-list-clickable" ng-repeat="payment in filtered_payments">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-lg-offset-1 data-cell">{{payment.date | moment:dateformat}}</div>
        <div class="col-sm-3 data-cell">{{payment.client_name}} : {{payment.project}}</div>
        <div class="col-sm-2 data-cell">{{payment.invoice_number}}</div>
        <div class="col-sm-2 data-cell">{{payment.amount | currency}}</div>
      </div>
    </div>
  </div>

  <!-- Mobile Format List -->
  <div class="container white-rounded visible-xs">
    <ul class="scrolling-list force-two-lines" >
      <li ng-repeat="payment in filtered_payments">
        <div>
          <h5>{{payment.date | moment:'D MMM \'YY'}} <span class="pull-right text-muted">{{payment.date | moment:'timeago'}}</span></h5>
          <div class="row">
            <div class="col-xs-4"><span>{{payment.client_name}}</span></div>
          </div>
          <h4>{{payment.project}}</h4>
          <h4>{{payment.amount | currency}}</h4>
          <h4>{{payment.notes}}</h4>
        </div>

      </li>
    </ul>
  </div>