<header class="jumbotron subhead">
	<div class="container">
		<p class="lead">Huh?! We can't seem to figure our what you're asking for.</p>
	</div>
</header>
<div class="container">
	<br />
	<br />
	<span>
		<img class="img-polaroid" src="/assets/einstein.jpg">
	</span>
	<br />
	<blockquote  class="center">
		<p><i class="icon-quote-right"></i> <%= @the_error %></p>
		<small>That FarmDat Application</small>
	</blockquote>
</div>