<header>
	<div class="container">
		<h3 class="lead">Looks like my dog ate your web page</h3>
	</div>
</header>
<div class="container">
	<br />
	<br />
	<span>
		<img class="img-polaroid" src="/assets/dog_ate_my_page.jpg">
	</span>
	<br />
	<blockquote  class="center">
		<p><i class="icon-quote-right"></i> <u><%= @not_found_path %></u> does not exist.</p>
		<small>That AVMoney Application</small>
	</blockquote>
</div>