
.save-status {
  margin-top: 10px;
  padding: 5px;
  color: #999999;
  background-color:#fff;
}


input.search-box {
  width: 640px;
  font-size: 1.2em;
  border-radius: 20px;
  margin-right: 20px;
}

input.search-box-small {
  width: 290px;
}

.select-year {
  width: 100px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.btn-set {
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  .btn, .alert {
    margin-right:7px;
  }
}

.button-row .btn {
  margin-right: 8px;
}

.btn {
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.btn-inverted {
  background-color: #333;
  border: 2px solid #ddd;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-inverted:hover {
  border-color: white;
  background-color: #999;
}

.btn-delete {
  color: #ccc !important;
}
.btn-delete:active, .btn-delete:hover, .btn-delete:focus {
  background: #cc5454 !important;
  color: #fff !important;
  border-color: rgb(230, 41, 41) !important;
}

.btn-set.pull-right { text-align: right; }

.clickable-icon {
  cursor:pointer;
  font-size: 2em;
  color:#999;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.clickable-icon.icon-small { font-size: 1em; }
.clickable-icon.icon-small:hover { font-size: 1em; }


.heading .clickable-icon {
  font-size: inherit;
  color: inherit;
}

.clickable-icon:hover {
  font-size: 2.2em;
  color:#ccc;
}

.heading .clickable-icon:hover {
  font-size: inherit;
  color: inherit;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.clickable-icon.active {
  color: #6B3800;
}

.clickable-icon.active:hover {
  opacity: 0.5;
}

.delete-icon {
  cursor:pointer;
  color:#cc5454;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.delete-icon:hover {
  color:#e62929;
}

.pointer { cursor: pointer;}

.dot {
  border: 1px solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.dot:hover {
  border-color: #cecece;
}

.red-grape {
  background-color: #404862;
}

.white-grape {
  background-color: #A6A765;
}

a.wp-link {
  border-bottom: 1px dashed #ccc;
  text-decoration: none;
  cursor: pointer;
}

a.wp-link:hover {
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

/* Action buttons list */
ul.action-buttons { padding-left: 0;}
.action-buttons li {
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
  width: 160px;
  margin: 8px;
  padding: 8px;
  text-align: center;
  color: #333;
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  a {
    color: #333;
    font-weight: normal;
    display: block;
    cursor: pointer;
  }
  a:hover { text-decoration: none; }
  i {
    font-size: 2em;
    line-height: 2em;
    display: block;
  }
}

.action-buttons li:hover, .action-buttons li.active {
  background-color: rgba(116, 166, 156, 0.78);
  border-color: rgba(116, 166, 156, 0.78);
}

.hover-spin:hover {
  -webkit-animation: rotate 1s forwards;
  animation: rotate 1s forwards;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 640px) {
  .search-box {
    width: auto;
  }
  input.search-box-small {
    width: 230px;
  }

}