<div ng-view class="full-height">
</div>

<script id="globals" type="text/json">
  <%= raw @user %>
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="https://d1qte70nkdppk5.cloudfront.net/wml/latest/web-maps-lite.js"></script>