<% if current_user %>
<div ng-controller="HeaderController" class="layout-single-column">
  <ul class="nav nav-pills margin-top-5">
    <li ng-class="{ active: isActive('')}"><a href="/" >Home</a></li>
    <li ng-class="{ active: isActive('/Activities')}"><a href="/#/Activities">Activities</a></li>
    <li ng-class="{ active: isActive('/Invoices')}"><a href="/#/Invoices">Invoices</a></li>
    <li ng-class="{ active: isActive('/Payments')}"><a href="/#/Payments">Payments</a></li>
    <li ng-class="{ active: isActive('/Clients')}"><a href="/#/Clients">Clients</a></li>
    <li ng-class="{ active: isActive('/Reports')}"><a href="/#/Reports">Reports</a></li>
  </ul>
</div>

<div ng-view>
</div>
<% else %>
<a class="btn btn-success btn-lg" href="/accounts/signin_page">Start</a>
<% end %>