<div class="screen-content background-light-green">
  <section class="authenty password-recovery">
    <div class="section-content">
      <div class="wrap">
        <div class="container">
          <div class="form-wrap">
            <div class="row">
              <div class="col-xs-12 col-sm-3 animated fadeInUpBig">
                <h2>Grower's Notebook</h2>
                <p>Problems? Let's see if we can fix it</p>
              </div>
              <div class="col-sm-1 hidden-xs">
                <div class="horizontal-divider"></div>
              </div>
                <div class="col-xs-12 col-sm-8 main animated fadeInLeft">
                  <h2>Forgot your password?</h2>
                  <p>Let's create a new one:</p>
                  <div class="form-main">
                    <%= form_tag "/accounts/password_update/#{@token}" do %>

                    <div class="pw-wrap">
                      <i class="fa fa-lock"></i>
                      <input type="password" class="form-control" placeholder="Password" name="password" required="required" pattern=".{6,20}" title="From 6 to 20 characters">
                    </div>
                    <div class="pw-wrap">
                      <i class="fa fa-lock"></i>
                      <input type="password" class="form-control" placeholder="Confirm Password" name="password_confirmation" required="required" pattern=".{6,20}" title="From 6 to 20 characters">
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <h4><a href="/accounts/signin_page" class="signin-link">Try Again</a></h4>
                      </div>
                      <div class="col-xs-12 col-md-offset-4 col-sm-4">
                        <button type="submit" class="btn btn-block reset">Update Password</button>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>